@import url(animations.css);
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    --bg-color: #fff;
    --subtitle-color: #2E8B57;
    --text-color: #000000;
    --button-color: #00FA9A;
    --social-media-color: #fff;
    --border-color: #2c2828;
    --detalhes-color: #2c2828;
    --text-detalhes-color: #3a3939;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: .2s;
    scroll-behavior: smooth;
}
.dark-mode{
    --bg-color: #2c2828;
    --text-color:#fff;
    --subtitle-color: #00FA9A;
    --button-color: #00c076;
    --social-media-color: #2C2828;
    --border-color: #fff;
    --detalhes-color: #fff;
    --text-detalhes-color: #00Fa9a;
}
.cabecalho-titulo, .title-section {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 4px;
}
h2 {
    color: var(--subtitle-color);
    font-size: 30pt;
    width: 100%;
    text-align: center;
}
.title-section{
    font-size: 40pt;
    text-transform: uppercase;
    margin-top: 1em;
}
section{padding: 100px 0; border-top: 1px solid;}
.backToTop-bnt{
    position: fixed;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 12pt;
    transition: .5s;
}
.backToTop-bnt:hover{
    animation: pulsaBnt 1s infinite;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5em;
    background-color: rgb(44, 40, 40, .9);
    transition: 1s;
}
.header-top-fixed{animation: headerDown 1s;}
.cabecalho-titulo{
    color:#00FA9A;
    margin: 0;
    font-size: clamp(1rem, 6vw, 2rem);
}
.cabecalho-menu, .cabecalho-menu-lista {
    margin: 0;
    display: flex;
    gap: 20px;
}
.cabecalho-menu-item{
    display: inline-block;
    position: relative;
    color: #fff;  
    transition: .5s;
}
.cabecalho-menu-item:hover{color: #00FA9A;}
.cabecalho-menu-item::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #00FA9A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}
.cabecalho-menu-item:hover::after{transform: scaleX(1);transform-origin: bottom left;}
.cabecalho-menu-item .fa{margin-right: 10px;}

#button-dark-mode{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 3px;
    width: 60px;
    height: 25px;
    color: #00c076;
}
#button-dark-mode i{
    margin: 0;
    font-size: 18px;
    transition: .5s;
}
.modo-dark .bloco-button i{
    transform: translateX(18px);
    transition: .5s;
}
.bloco-button{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 39px;
    height: 24px;
    background-color: white;
    transition: .5s;
}
.conteudo{
    background-image: url(../img/background-photo.png);
    background-position: left center;
    background-size: cover;
    padding: 55px 10px 55px 10px;
    display: grid;
    place-items: center;
}
.conteudo-figura{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(44, 40, 40, .8);
    width: 100vw;
    max-width: 409.8px;
    height: 27.344rem;
    border-radius: 30px;
    box-shadow: 0 0 1rem 1rem rgb(0 0 0 / 60%);
    transition: 1s;
    animation: aparecer 2s ease-out;
}
.conteudo-figura-imagem{
    max-width: 200px;
    max-height: 200px;
    box-shadow: 0 0 2rem white;
    border-radius: 50%;
    transition: .5s;
    margin-bottom: 30px;
}
.conteudo-figura-texto{
    font-size: 29px;
    color: #fff;
    margin-bottom: 1.5rem;
}
.conteudo-figura-animacao h3{
    font-size: 13pt;
    color: rgba(0, 255, 179, 0.8);
    overflow: hidden;
    border-right: 0.15rem solid #00FA9A;
    white-space: nowrap;
    letter-spacing: .15rem;
    width: 100%;
    animation: efeito-escrevendo 4s steps(30, end) alternate infinite, blink-animation .5s step-end infinite;
}
.informacoes{
    display: flex;
    padding: 10px 0; 
    background-color: #2c2828;
    color: #fff;
}
.informacoes-img{
    display: grid;
    height: 100%;
    max-height: 30em;
}
.informacoes-img img{width: 100%;}
.informacoes-descricao{
    width: 50%;
    text-align: left;
}
.informacoes-descricao h3 strong{color: #00FA9A;}
.informacoes-descricao h3, p, blockquote {padding: 1em 0;}
.informacoes-descricao-tabela{width: 100%;}
.informacoes-descricao-tabela-titulo, .informacoes-descricao-tabela-conteudo{height: 3em; font-size: clamp(9pt, 2vw, 128px);}
.informacoes-descricao-tabela-curriculo{
    color: #fff;
    border: 1px solid #00c076;
    height: 100%;
    background-color: #00c076;
    width: 60%;
    border-radius: 50px;
    display: grid;
    place-items: center;
    transition: .3s;
}
.informacoes-descricao-tabela-curriculo:hover{background: transparent; color: #00FA9A;}

.projetos-front-end, .projetos-back-end{
    margin: 2em 0 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.meus-certificados{
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    margin-bottom: 3em;
}
.meus-certificados .card-bloco{height: 200px !important;}
.card{
    width: 25em;
    display: grid;
    margin: 0;
    overflow: hidden;
    border-radius: 25px;
}
.card-bloco{
    border: 1px solid var(--border-color);
    background-color: #fff;
    color: #000000;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    transition: 1s;
}
.card-bloco-display{
    cursor: pointer;
    display: grid;
    text-decoration: none;
}
.card-bloco-display-img{
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    height: 200px;
}
.card-bloco-display-titulo{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    font-size: 18pt;
    color: rgba(225, 225, 225, 100);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .6);
}
.card-bloco-detalhes{
    display: flex;
    background: var(--bg-color);
    flex-wrap: wrap;
    padding: 5px;
    transition: 1s;
    height: auto;
    gap: 10px;
}
.card-bloco-detalhes .detalhes-btn{
    border: 1px solid !important;
    border-radius: 5px;
    width: auto;
    height: 40%;
    padding: 0;
    display: grid;
    place-items: center;
    transition: .5s;
}
.card-bloco-detalhes .detalhes-btn:hover, .detalhes-btn a:hover{
    background-color: var(--subtitle-color);    
    color: #fff;
}
.detalhes-btn a{
    cursor: pointer;
    font-size: 10pt;
    font-weight: 400;
    transition: .5s;
    border-radius: 25px;
    padding: 16px;
    color: var(--detalhes-color);
    text-decoration: none;
}
.desabilitado .desa{
    background-color: rgba(43, 41, 41, 0.6);
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1/3;
}
.desabilitado .card-bloco{
    grid-column: 1;
    grid-row:1/3;
}
.modal-exterior{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
.modal-interior{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color:#ffffff10; 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.informacoes-projetos{
    background:#2c2828;
    width: 70%;
    height: 70%;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fechar-modal-bnt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 13pt;
    width: 2rem;
    height: 2rem;
    margin: 1em;
    cursor: pointer;
    border-radius: 1rem;
    background: transparent;
    color:rgb(0, 255, 179);
}
.informacoes-projetos-conteudo h2{
    color: #16fd16;
}
.informacoes-projetos-conteudo p::first-letter{margin-left: 10px}
.informacoes-projetos-conteudo{
    margin: 10px;
    grid-column: 1;
    grid-row: 2;
}
.informacoes-projetos-frame iframe{ 
    max-width: 425px;
    width: 100%;
    height: 100%;
    margin: 0;
}
.informacoes-projetos-frame{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 3px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1/3;
}
.informacoes-projetos-conteudo-bnt{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.informacoes-projetos-conteudo-bnt a{
    margin: 0;
    padding: 10px;
    border-radius: 25px;
    background: #16fd16;
    color: #2c2828;
    font-weight: 700;
    transition: .5s;
}
.informacoes-projetos-conteudo-bnt a:hover{
    background: #78fc78;
}
.meus-certificados .card-bloco{
    width: 80%;
}
.contato{
    width: 100%;
    height: 20rem;
    border-top: 1px solid #3a3939;
    padding: 30px;
}
.rodape{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    border-top: 1px solid #3a3939;
    height: 15em;
    width: 100%;
    color: #fff;
    background-color: rgb(44, 40, 40, .9);
}
.rodape-conteudo{
    grid-column: 1;
    grid-row: 2;
}
.rodape-social-media{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}
.social-media-lista{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.social-media-lista-item{
    display: grid;
    place-items: center;
    width: 100%;
    max-width: calc(13em/2);
    min-width: calc(13em/2);
}
.social-media-lista-item-link{
    color: #fff;
    height: calc(13em/4);
    width: calc(13em/4);
    
    border-radius: 15px;
    box-shadow: 0 0 0.2rem 0.4rem #00000083;
    font-size: 20pt;
    transition: .5s;
}
.social-media-lista-item i{width: 100%; height: 100%;display: grid;place-items: center;}
.social-media-lista-item-link:hover{color: #00FA9A; font-size: 22pt;}

@media (max-width: 1000px){.projetos{display: block;}}

@media (max-width:605px) {
    body{
        display: block;
        align-items: flex-start;
        border: 0;       
    }
    .cabecalho-titulo{width: 90%;}
    #button-dark-mode{grid-column: 3}
    
    .conteudo{
        width: 100%;
        font-size: 100px;
        border-left: 0;
    }
    .conteudo-figura{width: 90%;margin: 0 20px;}
    .conteudo-figura-imagem{width: 150px;}
    .conteudo-figura-animacao h3 {font-size: 10pt;}
    
    section{text-align: center;}
    .informacoes{flex-direction: column;}
    .informacoes-descricao{width: 95%;}
    .informacoes-projetos{
        display:flex;
        flex-direction: column;
        width: 90%;
        height: 90%;
    }

    .card{width: 90%;}
    .meus-certificados{
        height: 40em;
        overflow-y: scroll;
        border-bottom: 1px solid;
    }
    .rodape-conteudo{
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 10px;        
    }
    .rodape-social-media{
        width: 100%;
        height: 100%;
        padding: 5px;
        grid-column: 1;
        grid-row: 1;
    }
    .social-media-lista{
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .social-media-lista-item{
        min-width: 0;
        width: calc(13em/3);
        height: 75%;
    }
    .social-media-lista-item-link{
        height: 80%;
        width: 90%;
    }
}

::-webkit-scrollbar{width: 0;}