@keyframes aparecer {
    from {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes headerDown {
    from {
        transform: translateY(-5em);
    }
}
@keyframes efeito-escrevendo {
    from { width: 0;}
    25% { width: 0;}
    75% { width: 100%;}
    to{ width: 100%;}
}
@keyframes blink-animation {
    from, to {border-color: transparent}
    50% { border-color: #fff;}
}
@keyframes pulsaBnt {
    from {
        box-shadow: 0 0 0 0 var(--button-color);
    }
    25% {
        box-shadow: 0 0 0 .3rem var(--button-color);
    }
    50% {
        box-shadow: 0 0 0 0 var(--button-color);
    }
    75% {
        box-shadow: 0 0 0 .4rem var(--button-color);
    }
    to {
        box-shadow: 0 0 0 0 var(--button-color);
    }
}